.heading{
    display: flex;
    justify-content: left;
}

.skills{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4rem;
    text-align: center;
    padding: 5%;
}

@media screen and (max-width: 950px){
    .skills{
        grid-template-columns: repeat(3, 1fr);
    }   
}

@media screen and (max-width: 650px){
    .skills{
        grid-template-columns: repeat(1, 1fr);
        padding-left: 25%;
    }   
}

.skill-img{
    width: 5.4rem;
    height: 5rem;
    background: var(--color-bg);
    text-align: center;
    display: inline;
}

.skill-container{
    text-align: center;
    border: 1px solid var(--color-light);
    padding: 10%;
    border-radius: 2rem;
    width: 13rem;
}

.skill-title{
    font-size: xx-large;
    font-weight: bolder;
}

.heading-img{
    margin: 30px;
}

.exp, .edu{
    text-align: left;
    padding-left: 10%;
}

.exp-dot{
    margin-top: 14px;
    margin-right: 10px;
}

.exp h2, .education h2{
    color: var(--color-primary);
    font-weight: bolder;
}

.exp h4, .education h4{
    font-weight: bolder;
}

.education{
    margin-top: 3%;
}